[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "iapws"]
	path = iapws
	url = https://github.com/cran/iapws
[submodule "pow.int"]
	path = pow.int
	url = https://github.com/cran/pow.int
